* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    width: 100%;
    height: 15vh;
    background-image: url(./../img/fondo3.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo {
    width: 17em;
    display: flex;
    align-items: center;
    margin: 15px;  



}

.navbar{
    background-color: transparent !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 5em;;
}

.dropdown-menu{
    
    background-color:rgb(17, 15, 133);
}
.dropdown-item, .dropdown-toggle{
    color: beige;
}
.categories{
    padding-top: 20px;
    padding-bottom: 20px;
}
.categ-container{
    display: flex;
    justify-content: space-around;
}

main {
    min-height: 75vh;
}

h1 {
    height: 10vh;
    font-family: Comic Sans MS;
   
    color: rgb(252, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../img/Cinema.jpg );
    text-shadow: 1px 1px 1px #000;


}



.c-container{
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    width: 300px;
    height: 450px;
    color: white;
    background-color: rgb(62, 62, 66);
    display: flex;
    flex-direction: column;
    box-shadow: 10px 3px 3px #1f1e1f;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.card img {
    width: 90%;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
}



.content {
    width: 100%;
    align-self: center;
    padding: 1rem;
}

.card h2 {
    padding-top:5px;
    font-size: 25px;
    text-align: center;
}

.content p {
    width: 100%;
    font-size: 15px;
/*     text-align: justify; */

}

input[type=search] {
    width:10em;
    padding: 2px 27px;
}

.content a {
    margin: 15px;
    box-shadow: 2px 2px 2px #822694;
}
#search{
   font-size: large;
   margin-left: 30em;
}

.table {
    margin: 25px;
}

.table-bordered {

    border: 2px solid gray;
}
thead{
    background-color: #ebc5eb;
}

.contact {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    margin: 30px 0 40px 100px;
    gap: 15px;

}


input[type=submit] {

    width: 30%;
    background-color: rgb(190, 197, 223);
    color: black;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

label {
    margin: 15px;
}

fieldset {

    width: 17em;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 15px;

}

.search {
    display: flex;
    margin: 4px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;

}

.details-container {
    width: 49em;
    height: 19em;
    color: black;
    background-color:rgb(102, 102, 109);
    display: flex;
    border: 1px solid black;
}

.details-container img {
    width: 25em;
    height: 100%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #1f1e1f;
}

.details-container div {
    width: 24em;
   
    border: 1px solid black;
    box-shadow: 3px 3px 3px #1f1e1f;
}

.details-container h2 {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    padding:5px;
}

.details-container p {
    font-size: 15px;
    text-align: center;
    padding:1px;
    margin: 3px 0px 5px 2px;
}
.details-container  a{
    margin:10px 5px 10px 15px;
}
footer {
    min-height: 10vh;
    width: 100%;
    background-image: url(./../img/fondo3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    justify-content: flex-start;
}

h3 {
    color: #fff;
    font-size:20px;
    margin-right: 30px;


}

.social-icon {

    margin-left: 20px;
    margin-right: 20px;
}

/* RESPONSIVE */
@media only screen and (min-width: 481px) and (max-width: 992px) {
 #logo {
        width: 17em;
        padding-top: 25px;
        padding-bottom: 15px;
        
    }
 .category {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;

    }

    #category1,
    #category2,
    #category3,
    #category4 {
        font-size: 12pt;
        padding: 10px;
    }

 .btn-outline-info {
        
        padding: 16px;
        font-weight: bold;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: x-large;
        display:inline-block
    }
.categ-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: x-large;
    }

input[type=search] {
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0px 80px 5px 80px;
    }


        
 .cards-container {

        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
 .card {
        width: 80%;
        height: 36rem;
        color: white;
        background-color: rgb(62, 62, 66);
        display: flex;
        box-shadow: 3px 3px 3px #1f1e1f;
    }
    
 

 .card img {
        height: 80%;
        background-size: cover;
        border-radius: 5px;
    }
 .content p{

       font-size: 20px;


    }
#search{
        margin-left: 6em ;
    }

 .details-container {
        width: 70%;
        height: 50%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
.details-container div{
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;  
    }

 .details-container img {
        padding: 0%;
        width: 100%;
        height: 12em;
    }

.details-container h2 {
        padding: 5px;
    }

.details-container p {
        width: 100%;
       

    }
input[type=submit] {
        width: auto;
        padding: 2px 27px;
    }
.c-img{
        height: 300px;
        object-fit: cover;
        background-size: cover;
        border-radius:5px;
    }


 .contact {
        width: 80%;
        height: 50%;
        padding: 22px;
        margin: 30px 0 40px 55px;
        gap: 15px;

    }


.table-bordered {
        color: rgb(17, 17, 17) !important;
        font-size: 10pt;
    }

}
@media only screen and (min-width: 250px) and (max-width: 480px) {
 #logo {
        width: 100px;
        padding-top: 25px;
        padding-bottom: 15px;
        padding-left: 1px;
    }

 h1 {
        font: size 3px;

    }
.dropdown-menu{
    
        background-color:rgb(17, 15, 133);
    }
.dropdown-item, .dropdown-toggle{
        color: beige;
    }

#checks_container {
          display:flex;
          flex-direction: column;
          width:20px;
    }

 .category {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }
  
.categ-container{
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

 #search{
    font-size: 10px;
    margin-left:2px;
    }

 fieldset {
      
        flex-wrap: wrap;
        margin: 1px;
        align-content: flex-start;

    }

 .btn-outline-info {
        padding: 20px;
        font-weight: bold;
        border-radius: 2px;
        font-size: small;
        margin-left: 2px;
    }

 nav a {

        padding: 0%;
        margin: 0%;
    }
.c-container{

        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

.card {
        width: 80%;
        height: 30em;
    }

 .card img {
        height: 100%;
        background-size: cover;
        border-radius: 5px;
    }
    
    
.details-container {
            width: 70%;
            height: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
        }
 .details-container div{
            width: 100%;
            height: 100%;
            flex-direction: column;
            flex-wrap: nowrap;  
        }
    
 .details-container img {
            padding: 0%;
            width: 100%;
            height: 12em;
        }
    
 .details-container h2 {
            padding: 5px;
        }
    
 .details-container p {
            width: 100%;
           
    
        }
   

 input[type=search] {
        width: auto;
        padding: 2px 27px;
    }


 .contact {
        width: 80%;
        height: 50%;
        padding: 22px;
        margin: 30px 0 40px 55px;
        gap: 15px;

    }


.table-bordered {
        color: rgb(17, 17, 17) !important;
        font-size: 10pt;
    }

.social-icon {

        margin-left: 5px;
        margin-right: 5px;
    }
.footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px;
        justify-content: center;
    }
    

 h3 {
        font-size: 15px;
    }
}
